body{
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    }
.container{
    background-color: rgba(252, 251, 255, 0);
    z-index: 1;
    width: 19.5em;
    height: 35em;
    margin-top: 8em;
    border-radius: 1.5rem;
    animation: shadow 3s ease-in-out infinite;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-self:center;
    flex-direction: column;
    border: 2px solid rgb(83, 9, 83);
    box-shadow: 0 10px 10px white;
 
}
img{
    width: 19.5em;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0.75;
}
.borde{
    width: 19.5rem;
    height: 24rem;
    margin-top: rem;
    margin-left: rem;
    border-radius: 1.4rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: rgba(247, 246, 248, 0.856);
 

}


form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
    height: 100%;
    gap: 1rem;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}
label{
    display: flex;
    margin-top: 1.5rem;
}
label input{
    width: 12rem;
    background-color: rgba(248, 245, 250, 0.712);
    border: none;
    outline: none;
    font-size: 16px;
    height: 2rem;
    margin-left: 1rem;
    display: flex;
    font-family: 'Playfair Display', serif;
    color: rgb(12, 12, 12);
    border-radius:0.5rem ;
    box-sizing: border-box;
    border: 1px solid rgb(83, 9, 83);
   
}

label input:hover{
    border: none;
    background-color: rgba(60, 3, 110, 0.226);


}

span{
 
    font-size: 16px;
    font-weight: 500;
    margin-left: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: rgb(3, 3, 3);
}

p{
    margin-left: 5em;
    margin-top: 2em;
    color: rgb(5, 5, 5);;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

a{
    text-decoration: none;
    color: rgb(248, 246, 246);

}
p:hover{
    color:rgba(37, 37, 37, 0.466) ;
    cursor: pointer;
}
.btns{
    display: flex;
    align-items: center;
    align-self: center;
     flex-direction: column;
}
.btns p{
    margin-top: 1rem;
    margin-left: 1rem;
}
.btn-log{
    border: none;
    height: 1.6rem;
    width: 15em;
    border-radius: 5px;
    background-color: rgb(83, 9, 83);
   
}
.btn-goo{
    display: flex;
    background-color: rgb(7, 7, 7);
    border: 1px solid rgb(46, 46, 46);
    height:1.6rem;
    width: 10rem;
    border-radius: 5px;
    gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 162, 163);
  border: none;
 
}

.logo{
    width: 20px;
    border-radius: 3px;

}
.check{
margin-top: -7rem;
margin-left:-1rem;
margin-bottom: 3rem;
}
.check span{
    font-weight: 600;
    color: rgb(240, 237, 237);
    font-style: italic;
}

.abso{
    position: absolute;
    top:-2rem ;
    left: 43rem;
}

.abso img{
    width: 33rem;
    opacity: 0.85;
}